/* Element class copied form https://github.com/muratkemaldar/periodic-table-css */
.Element {
  background: white;
  border: 1px solid black;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.25rem;
}

.Element_detail {
  position: absolute;
  bottom: 5%;
  /* left: 0; */
  margin: 0;
  font-size: 0.625rem;
}

.Element:hover {
  transform: scale(1.25, 1.25);
  z-index: 1;
}
