.ColorPicker input[type="range"]::-webkit-slider-runnable-track {
  /* -webkit-appearance: none; */
  background: linear-gradient(
    to right,
    #ff0000 0%,
    #ffff00 17%,
    #00ff00 33%,
    #00ffff 50%,
    #0000ff 67%,
    #ff00ff 83%,
    #ff0000 100%
  );
}

.ColorPicker input[type="range"]::-webkit-slider-thumb {
  /* -webkit-appearance: none; */
  background-color: black;
  color: black;
}
